{% extends "base.html" %}

{% block content %}
<h1>Список сайтов</h1>
<table data-test="urls" class="table table-bordered table-hover text-nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
    <tr>
      <td>{{ url[0] }}</td>
      <td><a href="{{ url_for('show_url', url_id=url[0]) }}">{{ url[1] }}</a></td>
      <td>{{ url[2].strftime('%Y-%m-%d') if url[2] else '' }}</td>
      <td>{{ url[3] or '' }}</td>
    </tr>
    {% endfor %}
  </tbody>  
</table>
{% endblock %}
