{% extends "base.html" %}

{% block content %}
<h1>Информация о сайте</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="url">
    <tbody>
      <tr>
        <th>ID</th>
        <td>{{ url[0] }}</td>
      </tr>
      <tr>
        <th>Имя</th>
        <td>{{ url[1] }}</td>
      </tr>
      <tr>
        <th>Дата создания</th>
        <td>{{ url[2].strftime('%Y-%m-%d') }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>

<form method="post" action="{{ url_for('check_url', url_id=url[0]) }}" class="mb-3">
  <button type="submit" class="btn btn-primary">Запустить проверку</button>
</form>

<table class="table table-bordered table-hover mt-2" data-test="checks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Код ответа</th>
      <th>h1</th>
      <th>title</th>
      <th>description</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
    {% for check in checks %}
    <tr>
      <td>{{ check[0] }}</td>
      <td>{{ check[1] or '' }}</td>
      <td>{{ check[3] or ''}}</td>
      <td>{{ check[2] or '' }}</td>
      <td>{{ check[4] or '' }}</td>
      <td>{{ check[5].strftime('%Y-%m-%d') if url[1] else ''}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
